<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phinal-Phase</title>

    <script type="text/javascript" src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

    <link rel="stylesheet" href="css/game/game.css">
</head>
<body>
<script>var helper = {username: "{{username}}"};</script>
<script type="text/javascript" src="/build/js/gameApp.js"></script>
</body>
</html>
