<section id="forgotPasswordContainer">
    <img src="/assets/logo.png" class="img-responsive" id="logo2" alt="game logo">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1 id="sendPasswordHeading" class="h1">Enter your email to recover your password</h1>
                    <form role="form" action="/forgotPassword" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="lostPassEmail" class="sr-only">Enter your email address</label>
                            <input type="text"
                                   name="lostPassEmail"
                                   id="lostPassEmail"
                                   class="form-control"
                                   placeholder="Enter username or email!">
                        </div>

                        <div style="width:100%">
                            <h3 id="backendLoginMessage" class="h3"> {{message}} </h3>

                            <input type="submit"
                                   id="btn-sendMail"
                                   class="btn btn-custom btn-lg btn-block"
                                   value="Send password to Email">
                        </div>
                    </form>
                    <a href="#/register" id="register2" class="register">Register</a>
                    <a href="" id="loginLink2" class="login">Login</a>
                </div>
            </div>
        </div>
    </div>
</section>