$lightwhite: rgba(255, 255, 255, 0.8);
$lighterwhite: rgba(255, 255, 255, 0.5);
$lighterblack: rgba(0, 0, 0, 0.5);
$lightblack: rgba(0, 0, 0, 0.8);

$primary-red: #D21C1E;
$light-primary-red: rgba(210, 28, 30, 0.5);